<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-fixed-top">
        <a routerLink="/" class="navbar-brand">Nacho</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Movie Suggestion</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/tvSeries" class="nav-link">Series Suggestion</a>
                </li>
            </ul>
        </div>
    </nav>
</div>